@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR|Ubuntu+Mono);

body {
  font-family: 'Noto Sans KR';
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Noto Sans KR';
  font-weight: 800;
  line-height: 1.1;
}